# Python Collections (Arrays)

# There are four collection data types in the Python programming language:

1.Lists

2.Sets

3.Tuple

4.Dictionary

# MUTABLE VS IMMUTABLE????

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets.

In [1]:
type([])

list

In [2]:
me1=["DHANYA","PYTHON",50,162.5]

In [3]:
type(me1)

list

In [4]:
len(me1)

4

In [6]:
me1[1]

'PYTHON'

In [9]:
for i in me1:
    print(i)

DHANYA
PYTHON
50
162.5

In [ ]:
me1[-1]

### Append

In [10]:
me1.append("Aparna")

In [11]:
me1.append("Anand")

In [12]:
me1

['DHANYA', 'PYTHON', 50, 162.5, 'Aparna', 'Anand']

In [15]:
me1.insert(32,"Neyyattinkar")

In [16]:
for i in me1:
    print(i)

DHANYA
PYTHON
50
162.5
Aparna
Anand
Neyyattinkar

# negative indexing

In [34]:
lst[-1]

5

In [35]:
lst[-2]

4

In [6]:
#.append is used to add elements in the list
lst.append("Gouri")

In [7]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Gouri']

In [8]:
lst.append(["Kannan","navaneeth"])

In [9]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Gouri',
 ['Kannan', 'navaneeth']]

In [15]:
lst[7]

['Kannan', 'navaneeth']

In [14]:
len(lst)

8

In [16]:
lst[0]

'Mathematics'

In [11]:
##Indexing in List
lst[6]

'Gouri'

In [13]:
lst[7][1]

'navaneeth'

In [17]:
lst[1][6]

't'

In [23]:
me1

['Renu', 'DHANYA', 'PYTHON', 50, 162.5, 'Aparna', 'Anand', 'Neyyattinkar']

In [30]:
me1[:3]

['Renu', 'DHANYA', 'PYTHON']

### Insert

In [21]:
## insert in a specific order

me1.insert(0,"Renu")

In [22]:
me1

['Renu', 'DHANYA', 'PYTHON', 50, 162.5, 'Aparna', 'Anand', 'Neyyattinkar']

### Various Operations that we can perform in List

In [29]:
lst1=[1,2,3,4,5]

In [30]:
sum(lst1)

15

In [31]:
lst1*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Negative indexing

In [ ]:
lst=[1,2,3,4,5]
print(lst[-2])

# Range of Indexes

In [36]:
lst=[1,2,3,4,5]
print(lst[2:4])

[3, 4]

In [37]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [38]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [39]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [42]:
print(thislist[0:7])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

### Pop() Method

In [43]:
lst.pop()

5

In [44]:
lst

[1, 2, 3, 4]

In [45]:
lst.pop(0)

1

In [46]:
lst

[2, 3, 4]

# Built in Functions in List

In [49]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [47]:
lst.reverse()

In [48]:
lst

[4, 3, 2]

In [50]:
lst.sort()

In [51]:
lst

[1, 1, 2, 3, 4, 5]

In [ ]:
#length:Calculates total length of List
len(lst)

In [54]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [52]:
##Min and Max
min(lst)

1

In [53]:
max(lst)

5

# Delete List Elements

In [55]:
list1 = ['physics', 'chemistry', 1997, 2000];
del list1[2];
print(list1)

['physics', 'chemistry', 2000]

In [56]:
k=[23,34,56,12]

In [57]:
k.append(90)

In [58]:
k

[23, 34, 56, 12, 90]

In [59]:
c=k.copy()

In [60]:
c

[23, 34, 56, 12, 90]

In [61]:
k.index(34)

1

In [63]:
d=[2,3,5]

In [64]:
k.extend(d)

In [65]:
k

[23, 34, 56, 12, 90, 2, 3, 5]

In [66]:
k.sort()

In [67]:
k

[2, 3, 5, 12, 23, 34, 56, 90]

In [68]:
k.reverse()

In [69]:
k

[90, 56, 34, 23, 12, 5, 3, 2]

# End