# Try First !!!

In [1]:
print("Hello, World!")

Hello, World!

In [ ]:
print("Apsara")

In [2]:
a=5

# NUMBERS

In [ ]:
1+6

In [ ]:
10/2

In [ ]:
10%2

In [ ]:
10**3

In [ ]:
a="9"
print(a)

In [ ]:
type(a)

In [ ]:
a=9.4

In [ ]:
print(type(a))

# Datatypes

![](datatypes.png)

In [ ]:
type(True)

In [ ]:
type(4.5)

In [ ]:
type("Hello")

# Strings

In [ ]:
"Hello"

In [ ]:
'Gouri Krishna'

In [ ]:
type("Gouri Krishna")

# Python Variables

A variable is a named location used to store data in the memory

In [ ]:
# syntax
# var_name=values

a=10

In [ ]:
type(a)

# How to assign string value???

In [ ]:
a='Gouri Krishna'

In [ ]:
a

In [ ]:
s='NewDelhi is the capital of India'

In [ ]:
s

In [ ]:
type(a)

# Assign Value to Multiple Variables

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
a,b=10,23
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

# Operators

# Python Arithmetic Operators

![](arithmetic.jpg)

In [ ]:
## Mathematical operation with Variable Assigment

a=10
b=20

In [ ]:
print(a*b)
print(a/b)
print(a%b)
print(a+b)
print(a-b)
print(b//a)
print(a**b)

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print("Product is",a*b)
print("Result is",a/b)
gauri=a%b
print("Remainder is",gauri)
print(a+b)
print(a-b)
print(b//a)
print(a**b)

# Python Assignment Operators

![](assignment.jpg)

In [1]:
p=9
p+=5
p=p+5
print(p)

14

In [ ]:
p-=3
print(p)

In [ ]:
p*=3
print(p)

In [ ]:
p/=11
p=p/11
print(p)

In [ ]:
p**=2
print(p)

In [ ]:
p%=4
print(p)

# Python Comparison Operators

![](comparison.jpg)

In [2]:
x=9
y=10
print(x==y)

False

In [3]:
print(x!=y)

True

In [4]:
print(x>y)

False

In [5]:
print(x<y)

True

# Python identity operators

![](identity.png)

In [1]:
x = ["apple", "banana",5,5.6]
y = ["apple", "banana","grapes",34]

In [2]:
type(x)

list

In [ ]:
len(x)

In [4]:
print(x is not y)

True

In [9]:
print(x==y)

False

In [10]:
print(x is not y)

True

In [ ]:
z = x
print("banana" in x)

In [ ]:
s=27

In [ ]:
s=34

In [ ]:
s

In [ ]:
print(x is z)

In [ ]:
print(x is y)

In [ ]:
print(x is not z)

# Python Membership Operators

![](member.png)

In [11]:
x = ["apple", "banana"]

print("banana" in x)

True

In [13]:
print("Grapes" not in x)

True

In [ ]:
x = ["apple", "banana"]

print("grapes" in x)

In [ ]:
x = ["apple", "banana"]

print("banana" not in x)

# Boolean Operators

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or True

In [ ]:
True or False

# How to format strings???

In [ ]:
## Various Ways of Printing

print("Hello")

In [ ]:
first_name='Gouri'
last_name='Krishna'

In [ ]:
print("My first name is {} and last name is {}".format(first_name,last_name))

In [ ]:
a=31
print("I am {} years old".format(a))

# length of string

In [ ]:
len('Krish')

In [ ]:
x = "awesome"
print("Python is " + x)

In [ ]:
x=9
y=8
x+y

In [ ]:
x="Alok"
y="R"
x+y

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

# How to read values from User???

In [ ]:
num = input ("Enter number :") 
print(num) 
name1 = input("Enter name : ") 
print(name1)

In [ ]:
num1 = input ("Enter First number :") 
print(num1) 
num2 = input("Enter Second number : ") 
print(num2) 
print(type(num1))
print(num1+num2)

In [ ]:
num1 = int(input ("Enter First number :") )
print(num1) 
num2 = int(input("Enter Second number : ") )
print(num2) 
print(type(num1))  
print(num1+num2)

# Complex Numbers

Complex literals can be created by using the notation x + yj where x is the real component and y is the imaginary component.

In [ ]:
#complex numbers: note the use of `j` to specify the imaginary part


x = 1.0 - 2.0j

x

In [ ]:
print(x.real, x.imag)

In [ ]:
k= 2.0-3.4j

In [ ]:
x+k

In [ ]:
k-x

In [ ]:
k*x

In [ ]:
k/x

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x = 1    # int
z = 1j   # complex

#convert from int to float:
a = float(x)
a

In [ ]:
y = 2.8  # float

#convert from float to int:
b = int(y)
b

In [ ]:
#convert from int to complex:
c = complex(x)

c

In [ ]:
print(type(a))
print(type(b))
print(type(c))

# Operator Precedence

![](precedence.jpg)

In [ ]:
a = 20
b = 10
c = 15
d = 5
e = 0

e = (a + b) * c / d       #( 30 * 15 ) / 5
print("Value of (a + b) * c / d is ",  e)

# The end of First Class