# String Functions

# Strings are arrays of bytes representing unicode characters.

In [1]:
a = "ICFOSS"
print(a[1])

C

# Slicing

You can return a range of characters by using the slice syntax.

In [6]:
a = "INFORMATION"
print(a[2:5])

FOR

# Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [7]:
a = "INFORMATION"
print(a[-5:-2])

ATI

# String Length

To get the length of a string, use the len() function.

In [8]:
print(len(a))

11

# capitalize() -	Converts the first character to upper case

In [10]:
txt = "hello, good morning all"

x = txt.capitalize()
x

'Hello, good morning all'

In [11]:
txt = "9988764532 is my mob number"

x = txt.capitalize()

print (x)

9988764532 is my mob number

# casefold() -Converts string into lower case

In [12]:
 txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

# lower() & upper()

In [13]:
txt = "Hello, And Welcome To My World!"
print(txt.upper())

HELLO, AND WELCOME TO MY WORLD!

In [14]:
 txt = "Hello, And Welcome To My World!"
print(txt.lower())

hello, and welcome to my world!

# count() - Returns the number of times a specified value occurs in a string

In [1]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("e")

print(x)

5

In [5]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("a",1,10)

print(x)
print(txt[1])

1

In [25]:
txt[10]

'l'

# replace()

In [35]:
a

'INFORMATION'

In [8]:
x = "why so seriouw!"
print(x.replace("w", "J"))

Jhy so seriouJ!

# split()

In [4]:
s="Mar Baseelius Engineering College"
s.split("e",4)

['Mar Bas', '', 'lius Engin', '', 'ring College']

In [60]:
s.rsplit("s",1)

['Mar Baseliu', ' Engineering College']

# The strip() - Removes any whitespace from the beginning or the end.

In [47]:
 txt ="    INFORMATION KERALA MISSION      "
print(txt.strip())

INFORMATION KERALA MISSION

# String Concatenation

In [14]:
x=input("Enter your first name")
y=input("enter your second name")
print(x+" "+y)

Enter your first nameDhanya
enter your second nameAnand
Dhanya Anand

In [63]:
x="Seema"
y="Bhaskar"
z=x+" "+y
z

'Seema Bhaskar'

# rfind()- Searches the string for a specified value and returns the last position of where it was found

The rfind() method finds the last occurrence of the specified value and returns -1 if the value is not found.

In [16]:
txt = "India is my coutry.All indians are my brothers and sisters."

x = txt.rfind("a")
y=txt.count("a")

print(x)
print(y)
print(txt[47])

47
4
a

In [72]:
txt[48]

'n'

In [ ]:
txt = "Hello, welcome."

x = txt.rfind("m")

print(x)

In [74]:
txt = "Hello, welcome ."

print(txt.rfind("q"))

-1

In [77]:
print(txt.rfind("q"))

-1

In [78]:
print(txt.rindex("q"))

ValueError: substring not found

# format()	Formats specified values in a string

In [ ]:
txt1 = "My name is {name}, I'am {age}"
a=txt1.format(name = "Ammu", age = 40)
print(a)

txt2 = "My name is {0}, I'am {1}"
b=txt2.format("ammu",40)
print(b)

txt3 = "My name is {}, I'am {}"
c=txt3.format("Ammu",40) 
print(c)